<h1>Hello All... Angular Is Awesome</h1>
<h2>{{title}}</h2>
<h2>{{a}}</h2>
<h2>{{print()}}</h2>
<body></body>

<title>Account Creation Project</title>
<div class="container">
    
<label>First Name</label>
<input type="Text" placeholder="First Name" id="1" name="Uname">
<br>
<label>Last Name</label>
<input type="Text1" placeholder="Last Name" id="2">
<br>
<label>Email</label>
<input type="Text3" placeholder="Enter Email" id="3">
<br>
<label>Mobile</label>
<input type="Text4" placeholder="Enter Mobile" id="4">
<br>
<input type="Radio"id="5">
<label>Male</label>
<input type="Radio" id="6">
<label>Female</label>
<br>
<label>Active User</label>
<input type="checkbox" id="7" >
<br>
<button type="submit">Submit</button>

</div>